/* $Id: layout-fixed.css,v 1.5.2.3 2009/02/13 19:20:19 johnalbin Exp $ */

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


html, body 
{
 margin:0;
 padding:0;
 font-family:verdana;
 font-size:90%;
}

#ck_top
{
 background-color:#E4E5E6; 
 width:100%; 
 height:50px;
 color:#2f4f8f;
 text-align:center;
 font-size:35px;
}

#ck_entries
{
 width:98%; 
 background-color:#E4E5E6;
 color:#00009F;
 text-align:left;
 padding:6px;
 margin:6px;

 border: 1px solid #7F7F7F;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 background-color: #FFFFFF;
 border-spacing: 0px;

    -webkit-box-shadow: 2px 2px 4px 1px #bbb;
    box-shadow: 2px 2px 4px 1px #bbb;
}

#ck_prune
{
 width:100%; 
 color:#00009F;
 text-align:center;
 padding:6px;
}

#ck_bottom
{
 background-color:#E4E5E6; 
 width:100%; 
 height:70px;
}

table.ck_round_table
{
 border: 1px solid #00009f;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 border-radius: 6px;
 background-color: #FFFFFF;
 margin: 5px;
 padding: 1px;
 border-spacing: 0px;
}

table.ck_round_table td
{
 spacing:0px;
 padding:4px;
}
 